.hide {
    display:none;
}
.player {
    display: inline-block;
    justify-items: center;
    justify-content: center;
    width: 200px;
    height: 400px;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid blue;
}