.hide {
    display:none;
}
button {
    text-align: center;
}
input {
    text-align: center;
    width: 50px;
}
.message {
    font-size: 30px;
}
body {
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: cornflowerblue;
}
.player {
    display: inline-block;
    justify-items: center;
    justify-content: center;
    width: 200px;
    height: 400px;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid red;
}